extends layout

block content
    #modalLoginForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header.text-center
                    h4.modal-title.w-100.font-weight-bold New Recipe
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                form.modal-body.mx-3
                    .md-form.mb-4
                        label.inputText Dishes name
                        input#inputTitle.form-control.validate(type='text')
                    .md-form.mb-4
                        label.inputText Ingredients
                        textarea#inputIngredient.form-control(rows='5' ,cols='6')
                    .md-form.mb-4
                        label.inputText Methods
                        textarea#inputMethod.form-control(rows='5', cols='6')
                    .md-form.mb-4
                        label.inputText Images
                        br
                        label.btn.btn-outline-primary(for='upload_file1')
                            input#upload_file1(type='file', name='image',style='display:none',onchange='preview_image(this.id);')
                            |     Choose File
                        span(style='margin-left:10px;')#upload-file-info1.label.label-info No File chosen                      
                        br
                        label.btn.btn-outline-primary(for='upload_file2')
                            input#upload_file2(type='file', name='image',style='display:none',onchange='preview_image(this.id);')
                            |     Choose File
                        span(style='margin-left:10px;')#upload-file-info2.label.label-info No File chosen                 
                        br
                        label.btn.btn-outline-primary(for='upload_file3')
                            input#upload_file3(type='file', name='image',style='display:none',onchange='preview_image(this.id);')
                            |     Choose File
                        span(style='margin-left:10px;')#upload-file-info3.label.label-info No File chosen
                        div#image_preview
                            img.uploadImage#upload_file1Image(src='https://s3.eu-west-2.amazonaws.com/testing-images-api/cancel.png',onclick='imageClick(this.id)',accept="image/*")
                            img.uploadImage#upload_file2Image(src='https://s3.eu-west-2.amazonaws.com/testing-images-api/cancel.png',onclick='imageClick(this.id)',accept="image/*")
                            img.uploadImage#upload_file3Image(src='https://s3.eu-west-2.amazonaws.com/testing-images-api/cancel.png',onclick='imageClick(this.id)',accept="image/*")    
                .modal-footer.d-flex.justify-content-center
                    button#btn_uploadRecipe.btn.btn-default Upload     
    #modalCommentForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header.text-center
                    h4.modal-title.w-100.font-weight-bold Edit Comment
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                form.modal-body.mx-3
                    .md-form.mb-4
                        label.inputText Comment
                        textarea#inputComment_form.form-control(rows='5' ,cols='6')
                .modal-footer.d-flex.justify-content-center
                        button#btn_delete_comment_form.btn.btn-outline-primary Delete     
                        button#btn_confirm_comment_form.btn.btn-outline-primary Edit   
    .fixed-nav-bar.d-flex.flex-column.flex-md-row.align-items-center.p-3.px-md-4.mb-3.bg-white.border-bottom.shadow-sm
        h5.my-0.mr-md-auto.font-weight-normal Recipe Book
        nav.nav
            ul#menuList
                li
                    a#nav_home.nav-link.active(href='#') Home
                li
                    a#nav_favourite.nav-link(href='#') My Favorite
                li
                    a#nav_myPost.nav-link(href='#') My Post
            a#nav_logout.nav-link(href='#') Logout
    .wrapper.fadeInDown.zero-raduis
        #mainFormContent
            .fadeIn.first
                div#buttonList.text-right
                    .like-content-info
                        button.btn-secondary.like-review
                            i.fa.fa-heart(aria-hidden='true')
                            |  Likes
                    button#btn_edit.btn.btn-outline-primary(type='button',align='center', data-toggle='modal', data-target='#modalLoginForm',float: right) Edit
                    button#btn_delete.btn.btn-outline-primary(type='button',align='center',float: left) Delete

                h3#content_title
                #carouselExampleControls.carousel.slide(data-ride='carousel')
                    #carousel_inner.carousel-inner
                    a.carousel-control-prev(href='#carouselExampleControls', role='button', data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Previous
                    a.carousel-control-next(href='#carouselExampleControls', role='button', data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Next
                hr
                h3 Ingredients
                p#content_Ingredients
                hr
                h3 Methods
                p#content_Methods(align='left') 
                hr
                h3 Comments
                form.comments.media
                    img.mr-3.imageCommentIcon(src='https://s3.eu-west-2.amazonaws.com/testing-images-api/member.png', alt='Generic placeholder image')
                    .media-body
                        textarea#comment.form-control(rows='5')
                        input#btn_confirm(type='button', value='Confirm')
                ul#commentList.list-unstyled

    script(src='/view-controller/infoPage_API_controller.js')
    script.
        var id = #{id};
        var isLike = #{isLike};
        var Recipeinfo ;
        var imageList ;
        var selectedComment;
        var imageChangeList = {upload1:"" , upload2:"",upload3:""};
        console.log('id +'+id);
        console.log('isLike +'+ isLike);
        if (isLike ){
             console.log('isLike !!!');
            $('.like-review').html('<i class="fa fa-heart" aria-hidden="true"></i> You liked this');
        }else{
            console.log('disLike !!!');
            $('.like-review').html('<i class="fa fa-heart" aria-hidden="true"></i> Like');
        }
        getRecipeById();
        getimageByid();
        getCommentByid();
        $(document).ready(function(){
            $("#nav_favourite").click(function(){
                window.location = "http://"+$(location).attr('host')+"/main?type=favourite";
            });
            $("#nav_home").click(function(){
                window.location = "http://"+$(location).attr('host')+"/main";
            });
            $("#nav_myPost").click(function(){
                window.location = "http://"+$(location).attr('host')+"/main?type=myPost";
            });
            $("#nav_logout").click(function(){
                window.sessionStorage.accessToken = "";
                window.location = "http://"+$(location).attr('host')+"/";
            });
            $("#btn_confirm").click(function(){
                if ( $("#comment").val().length>0){
                    loadSubmit();
                    SubmitComment($("#comment").val());
                }else{
                    alert("Comment is empty");
                }
            });
            $("#btn_edit").click(function(){
                //Load data
                if (imageList[0].image_path !=null){
                    $('#upload_file1Image').attr('src',imageList[0].image_path);
                    $('#upload-file-info1').html('');
                    imageChangeList.upload1 = imageList[0].image_path;
                }
                if (imageList[1]!= null && imageList[1].image_path !=null){
                    $('#upload_file2Image').attr('src',imageList[1].image_path);
                    $('#upload-file-info2').html('');
                    imageChangeList.upload2 = imageList[1].image_path;
                }
                if (imageList[2]!= null &&imageList[2].image_path !=null){
                    $('#upload_file3Image').attr('src',imageList[2].image_path);
                    $('#upload-file-info3').html('');
                    imageChangeList.upload3 = imageList[2].image_path;
                }
                $("#inputTitle").val(Recipeinfo.title_eng);
                $("#inputIngredient").val(Recipeinfo.ingredient_eng);
                $("#inputMethod").val(Recipeinfo.methods_eng);
            });
            $("#btn_delete").click(function(){
                var r = confirm("Recipe will be deleted. Do you want to continue?");
                if (r == true) {
                    DelRecipe(id);
                } 
            });
            $("#btn_confirm_comment_form").click(function(){
                if ($("#inputComment_form").val().length == 0){
                    alert("Comment is empty");
                }else{
                    PutComment(selectedComment,$("#inputComment_form").val())
                }
            });
            $("#btn_delete_comment_form").click(function(){
                var r = confirm("Comment will be deleted. Do you want to continue?");
                if (r == true) {
                    loadSubmit();
                    DelComment(selectedComment);
                } 
            });
            $("#btn_uploadRecipe").click(function(){
                if ($("#inputTitle").val().length ==0){
                    return alert("Title is empty ")
                }
                if ($("#inputIngredient").val().length ==0){
                    return alert("Ingredient is empty ")
                }
                if ($("#inputMethod").val().length ==0){
                    return alert("Methods is empty ")
                }
                loadSubmit();
                PutRecipe($("#inputTitle").val(),$("#inputIngredient").val(),$("#inputMethod").val());
            });
            $(".like-review").click(function(){
                var btn_like = this;
                btn_like.disabled = true;
                console.log($(this).text());
                if ($(btn_like).text().trim() === "Like"){
                    addLike(id);
                    $(btn_like).html('<i class="fa fa-heart" aria-hidden="true"></i> You liked this');
                    $(btn_like).children('.fa-heart').addClass('animate-like');
                }else{
                    deleteLike(id);
                    $(btn_like).html('<i class="fa fa-heart" aria-hidden="true"></i> Like');
                }
                setTimeout(function(){  
                    btn_like.disabled = false;
                }, 1000);
            });
        });
        // Function
            function preview_image(id)
            {
                //-  $('#image_preview').append("<img src='"+URL.createObjectURL(event.target.files[0])+"'onclick='imageClick(this.id)' id='"+id+"Image'>");
                if (event.target.files[0] !=null){
                    switch (id){
                        case "upload_file1":upload_file1=event.target.files[0];
                                            $('#upload_file1Image').attr('src',URL.createObjectURL(event.target.files[0]));
                                            $('#upload-file-info1').html(event.target.files[0].name)
                                            imageChangeList.upload1 = event.target.files[0].name;
                                            break;
                        case "upload_file2":upload_file2=event.target.files[0];
                                            $('#upload_file2Image').attr('src',URL.createObjectURL(event.target.files[0]));
                                            $('#upload-file-info2').html(event.target.files[0].name)
                                            imageChangeList.upload2 = event.target.files[0].name;
                                            break;
                        case "upload_file3":upload_file3=event.target.files[0];
                                            $('#upload_file3Image').attr('src',URL.createObjectURL(event.target.files[0]));
                                            $('#upload-file-info3').html(event.target.files[0].name)
                                            imageChangeList.upload3 = event.target.files[0].name;
                                            break;
                    }
                }else{
                    console.log("nullllll")
                    switch (id){
                        case "upload_file1":    $('#upload_file1').val('');
                                                $('#upload_file1Image').attr('src','https://s3.eu-west-2.amazonaws.com/testing-images-api/cancel.png');
                                                $('#upload-file-info1').html('No File chosen');
                                                imageChangeList.upload1 = '';
                                                break;
                        case "upload_file2":    $('#upload_file2').val('');
                                                $('#upload_file2Image').attr('src','https://s3.eu-west-2.amazonaws.com/testing-images-api/cancel.png');
                                                $('#upload-file-info2').html('No File chosen');
                                                imageChangeList.upload2 = '';
                                                break;
                        case "upload_file3":    $('#upload_file3').val('');
                                                $('#upload_file3Image').attr('src','https://s3.eu-west-2.amazonaws.com/testing-images-api/cancel.png');
                                                $('#upload-file-info3').html('No File chosen');
                                                imageChangeList.upload3 = '';
                                                break;
                    }
                }
            }
            function imageClick(clicked_id){
                switch (clicked_id){
                    case "upload_file1Image":   $('#upload_file1').val('');
                                                $('#upload_file1Image').attr('src','https://s3.eu-west-2.amazonaws.com/testing-images-api/cancel.png');
                                                $('#upload-file-info1').html('No File chosen');
                                                imageChangeList.upload1 = '';
                                                break;
                    case "upload_file2Image":   $('#upload_file2').val('');
                                                $('#upload_file2Image').attr('src','https://s3.eu-west-2.amazonaws.com/testing-images-api/cancel.png');
                                                $('#upload-file-info2').html('No File chosen');
                                                imageChangeList.upload2 = '';
                                                break;
                    case "upload_file3Image":   $('#upload_file3').val('');
                                                $('#upload_file3Image').attr('src','https://s3.eu-west-2.amazonaws.com/testing-images-api/cancel.png');
                                                $('#upload-file-info3').html('No File chosen');
                                                imageChangeList.upload3 = '';
                                                break;
                }
            }
            function btn_edit_comment_click(el){
                console.log("btn_edit_comment_click + "+$(el).parent().attr('id'));
                selectedComment = $(el).parent().attr('id');
            }
            function loadSubmit(){
                $('<div id ="divload"><div class="divLoading"><div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div></div>').prependTo(document.body);
            }