extends layout

block content
    .wrapper.fadeInDown.zero-raduis
        #formContent
            // Tabs Titles
            // Icon
            .fadeIn.first
                h2.my-5 Login
            // Login Form
            form
                input#username.fadeIn.second.zero-raduis(type='text', name='username', placeholder='User Name')
                input#password.fadeIn.third.zero-raduis(type='password', name='password', placeholder='Password')
                input#btn_login.fadeIn.fourth.zero-raduis(type='button', value='login',style='margin-top:40px;')
                h2 You don't have a account ?
                input#btn_Register.fadeIn.fourth.zero-raduis.pc(type='button', value='register')
    script.
        
        $(document).ready(function(){
            $("#btn_Register").click(function(){
                window.location = "http://"+$(location).attr('host')+"/register";
            });
            $("#btn_login").click(function(){
                login();   
            });
        });
        $(document).keypress(function(e) {
            if(e.which == 13) {
                login();
            }
        });
        function loadSubmit(){
            $('<div id ="divload"><div class="divLoading"><div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div></div>').prependTo(document.body);
        }
        function login(){
            if ($("#username").val().length==0){
                alert('User Name is empty');
            }else if ($("#password").val().length==0){
                alert('Password is empty');
            }else{
                loadSubmit();
                var URLs="/api/users/login/";
                var submitData = {  
                    username: $("#username").val().trim(),  
                    password: $("#password").val().trim(),   
                } 
                console.log(JSON.stringify(submitData));
                $.ajax({
                    url: URLs,
                    type: 'POST',
                    dataType:'json',
                    contentType:"application/json",
                    data: JSON.stringify(submitData),                
                    success: function ( data ) {
                        //- alert("success "+ data.token );
                        window.sessionStorage.accessToken = data.token;
                        window.sessionStorage.userId = data.userId;
                        window.sessionStorage.username = $("#username").val().trim();
                        window.location = "http://"+$(location).attr('host')+"/main";
                    },
                    error:function(XMLHttpRequest, textStatus, errorThrown){
                        var err = JSON.parse(XMLHttpRequest.responseText);
                        alert(err.message);
                        window.location = "http://"+$(location).attr('host');
                    }
                });
            }
        }