extends layout

block content
    #modalUserProfileForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header.text-center
                    h4.modal-title.w-100.font-weight-bold User Edit
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                form.modal-body.mx-3
                    .md-form.mb-4
                        h3#lblusername
                        br
                        br
                        label.inputText Password
                        input#inputoldPassword.form-control.validate(type='password')
                        label.inputText new Password
                        input#inputnewPassword.form-control.validate(type='password')
                        label.inputText Confirm Password
                        input#inputconfirmPassword.form-control.validate(type='password')
                        br
                        label.inputText Email
                        br
                        input#inputnewEmail.form-control.validate(type='text')
                .modal-footer.d-flex.justify-content-center
                    button#btn_confirmModify.btn.btn-default Upload 
    #modalLoginForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header.text-center
                    h4.modal-title.w-100.font-weight-bold New Recipe
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                form.modal-body.mx-3
                    .md-form.mb-4
                        label.inputText Dishes name
                        input#inputTitle.form-control.validate(type='text')
                    .md-form.mb-4
                        label.inputText Ingredients
                        textarea#inputIngredient.form-control(rows='5' ,cols='6')
                    .md-form.mb-4
                        label.inputText Methods
                        textarea#inputMethod.form-control(rows='5', cols='6')
                    .md-form.mb-4
                        label.inputText Images
                        br
                        label.btn.btn-outline-primary(for='upload_file1')
                            input#upload_file1(type='file', name='image',style='display:none',onchange='preview_image(this.id);',accept="image/*")
                            |     Choose File
                        span(style='margin-left:10px;')#upload-file-info1.label.label-info No File chosen                      
                        br
                        label.btn.btn-outline-primary(for='upload_file2')
                            input#upload_file2(type='file', name='image',style='display:none',onchange='preview_image(this.id);',accept="image/*")
                            |     Choose File
                        span(style='margin-left:10px;')#upload-file-info2.label.label-info No File chosen                 
                        br
                        label.btn.btn-outline-primary(for='upload_file3')
                            input#upload_file3(type='file', name='image',style='display:none',onchange='preview_image(this.id);',accept="image/*")
                            |     Choose File
                        span(style='margin-left:10px;')#upload-file-info3.label.label-info No File chosen
                        div#image_preview
                            img.uploadImage#upload_file1Image(src='https://s3.eu-west-2.amazonaws.com/testing-images-api/cancel.png',onclick='imageClick(this.id)')
                            img.uploadImage#upload_file2Image(src='https://s3.eu-west-2.amazonaws.com/testing-images-api/cancel.png',onclick='imageClick(this.id)')
                            img.uploadImage#upload_file3Image(src='https://s3.eu-west-2.amazonaws.com/testing-images-api/cancel.png',onclick='imageClick(this.id)')    
                .modal-footer.d-flex.justify-content-center
                    button#btn_uploadRecipe.btn.btn-default Upload 
    .fixed-nav-bar.d-flex.flex-column.flex-md-row.align-items-center.p-3.px-md-4.mb-3.bg-white.border-bottom.shadow-sm
        h5.my-0.mr-md-auto.font-weight-normal Recipe Book
        nav.nav
            ul#menuList
                li
                    a#nav_home.nav-link(href='#') Home
                li
                    a#nav_favourite.nav-link(href='?type=favourite') My Favorite
                li
                    a#nav_myPost.nav-link(href='?type=myPost') My Post
            a#nav_logout.nav-link(href='#') Logout
    .wrapper.fadeInDown.zero-raduis
        #mainFormContent
            .fadeIn.first
                div.text-right
                    button#btn_userProfile_form.btn.btn-outline-primary(type='button',align='center', data-toggle='modal', data-target='#modalUserProfileForm',style='margin-right:20px;') User Profile
                    button#btn_newRecipe_form.btn.btn-outline-primary(type='button',align='center', data-toggle='modal', data-target='#modalLoginForm') New Recipe
                .row#recipeList

    script(src='/view-controller/mainPage_API_controller.js')
    script.
            /* On Create*/
            console.log("userId + "+ window.sessionStorage.userId +"  username  + "+window.sessionStorage.username );
            $('#lblusername').text(window.sessionStorage.username);
            var favouriteList ; 
            var imageChangeList = {upload1:"" , upload2:"",upload3:""};
            getFavouriteListByUserID();
            var type = "#{type}";
            console.log('type +'+type);
            if (type == "favourite"){
                getFavouriteRecipe();
                $('#nav_favourite').addClass("active"); 
            }else if (type == "myPost"){
                getUserRecipe();
                $('#nav_myPost').addClass("active"); 
            }else{
                getAllRecipe();
                $('#nav_home').addClass("active"); 
            }
            console.log('token +'+window.sessionStorage.accessToken);
            var upload_file1 ;
            var upload_file2 ;
            var upload_file3 ; 
            function preview_image(id)
            {
                //-  $('#image_preview').append("<img src='"+URL.createObjectURL(event.target.files[0])+"'onclick='imageClick(this.id)' id='"+id+"Image'>");
                if (event.target.files[0] !=null){
                    switch (id){
                        case "upload_file1":upload_file1=event.target.files[0];
                                            $('#upload_file1Image').attr('src',URL.createObjectURL(event.target.files[0]));
                                            $('#upload-file-info1').html(event.target.files[0].name)
                                            imageChangeList.upload1 = event.target.files[0].name;
                                            break;
                        case "upload_file2":upload_file2=event.target.files[0];
                                            $('#upload_file2Image').attr('src',URL.createObjectURL(event.target.files[0]));
                                            $('#upload-file-info2').html(event.target.files[0].name)
                                            imageChangeList.upload2 = event.target.files[0].name;
                                            break;
                        case "upload_file3":upload_file3=event.target.files[0];
                                            $('#upload_file3Image').attr('src',URL.createObjectURL(event.target.files[0]));
                                            $('#upload-file-info3').html(event.target.files[0].name)
                                            imageChangeList.upload3 = event.target.files[0].name;
                                            break;
                    }
                }else{
                    switch (id){
                        case "upload_file1":$('#upload_file1').val('');$('#upload_file1Image').attr('src','https://s3.eu-west-2.amazonaws.com/testing-images-api/cancel.png');$('#upload-file-info1').html('No File chosen');imageChangeList.upload1 = '';break;
                        case "upload_file2":$('#upload_file2').val('');$('#upload_file2Image').attr('src','https://s3.eu-west-2.amazonaws.com/testing-images-api/cancel.png');$('#upload-file-info2').html('No File chosen');imageChangeList.upload2 = '';break;
                        case "upload_file3":$('#upload_file3').val('');$('#upload_file3Image').attr('src','https://s3.eu-west-2.amazonaws.com/testing-images-api/cancel.png');$('#upload-file-info3').html('No File chosen');imageChangeList.upload3 = '';break;
                    }
                }
            }
            function imageClick(clicked_id){
                switch (clicked_id){
                    case "upload_file1Image":$('#upload_file1').val('');$('#upload_file1Image').attr('src','https://s3.eu-west-2.amazonaws.com/testing-images-api/cancel.png');$('#upload-file-info1').html('No File chosen');imageChangeList.upload1 = '';break;
                    case "upload_file2Image":$('#upload_file2').val('');$('#upload_file2Image').attr('src','https://s3.eu-west-2.amazonaws.com/testing-images-api/cancel.png');$('#upload-file-info2').html('No File chosen');imageChangeList.upload2 = '';break;
                    case "upload_file3Image":$('#upload_file3').val('');$('#upload_file3Image').attr('src','https://s3.eu-west-2.amazonaws.com/testing-images-api/cancel.png');$('#upload-file-info3').html('No File chosen');imageChangeList.upload3 = '';break;
                }
            }
            /* On Click*/

            $(document).ready(function(){
                $("#btn_uploadRecipe").click(function(){
                    if (imageChangeList.upload1.length==0 && imageChangeList.upload2.length==0 && imageChangeList.upload3.length==0){
                        return alert('please select at least one image')
                    }
                    if ($("#inputTitle").val().length ==0){
                        return alert('Title is empty')
                    }
                    if ($("#inputIngredient").val().length ==0){
                        return alert('Ingredient is empty')
                    }
                    if ($("#inputMethod").val().length ==0){
                        return alert('Methods is empty')
                    }
                    loadSubmit();
                    uploadRecipe();
                });

                $("#nav_home").click(function(){
                    window.location = "http://"+$(location).attr('host')+"/main";
                });
                $("#nav_logout").click(function(){
                    window.sessionStorage.accessToken = "";
                    window.sessionStorage.username = "";
                    window.sessionStorage.userId = "";
                    window.location = "http://"+$(location).attr('host')+"/";
                });
                $("#btn_confirmModify").click(function(){
                    if ($("#inputoldPassword").val().length ==0){
                        return alert('Password is empty')
                    }
                    if ($("#inputnewPassword").val().length ==0 && $("#inputnewEmail").val().length==0){
                        return alert('new Password / new Email is empty')
                    }

                    if ($('#inputconfirmPassword').val() != $('#inputnewPassword').val()) {
                        alert("Error : Confirm password not match");
                    }

                    PutUser();
                });
            });

            /* function */
            function likeOnclick(el){
                el.disabled = true;
                console.log($(el).text());
                console.log($(el).parent().parent().parent().attr('id'));
                    if ($(el).text().trim() === "Like"){
                        addLike($(el).parent().parent().parent().attr('id'));
                        $(el).html('<i class="fa fa-heart" aria-hidden="true"></i> You liked this');
                        $(el).children('.fa-heart').addClass('animate-like');
                    }else{
                        deleteLike($(el).parent().parent().parent().attr('id'));
                        $(el).html('<i class="fa fa-heart" aria-hidden="true"></i> Like');
                    }
                    setTimeout(function(){  
                        el.disabled = false;
                    }, 1000);
            }
            function goToInfo(el){
                    var id =$(el).parent().attr('id');
                    var isLike = false;
                    for (i =0 ; i <favouriteList.length;i++){
                        if (favouriteList[i].recipe_id == id){
                            console.log("isLike");
                            isLike = true;
                        }
                    }
                    window.location = "http://"+$(location).attr('host')+"/info/"+id+"?isLike="+isLike;
            }
            function loadSubmit(){
                $('<div id ="divload"><div class="divLoading"><div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div></div>').prependTo(document.body);
            }

