extends layout

block content
    .wrapper.fadeInDown.zero-raduis
        #formContent
            .fadeIn.first
                h2.my-5 Register
            form
                input#username.fadeIn.second.zero-raduis(type='text', name='userName', placeholder='User Name')
                input#email.fadeIn.second.zero-raduis(type='email', name='email', placeholder='Email')
                input#password.fadeIn.third.zero-raduis(type='password', name='login', placeholder='password')
                input#comfirmPassword.fadeIn.third.zero-raduis(type='password', name='Confirmpassword', placeholder='Confirm Password')
                
                input#btn_Confirm.fadeIn.fourth.zero-raduis.pc(style='margin-top:40px;',type='button', value='Confirm')
    script.
            $(document).ready(function(){
                $("#btn_Confirm").click(function(){
                    if ($("#username").val()==0){
                        return alert('User Name is empty');
                    }else if ($("#password").val()==0){
                        return alert('Password is empty');
                    }else if ($("#email").val()==0){
                        return alert('Email is empty');
                    }
                    if ($('#password').val() == $('#comfirmPassword').val()) {
                        loadSubmit();
                        var URLs="/api/users/sign/";
                        var submitData = {  
                            username: $("#username").val().trim(),  
                            password: $("#password").val().trim(),   
                            email: $("#email").val().trim()
                        } 
                        console.log(JSON.stringify(submitData));
                        $.ajax({
                            url: URLs,
                            type: 'POST',
                            dataType:'json',
                            contentType:"application/json",
                            data: JSON.stringify(submitData),                
                            success: function ( data ) {
                                alert("Register success ");
                                window.location = "http://"+$(location).attr('host')+"/";
                            },
                            error:function(XMLHttpRequest, textStatus, errorThrown){
                                    var err = JSON.parse(XMLHttpRequest.responseText);
                                    alert(err.message);
                                    window.location = "http://"+$(location).attr('host')+"/register";
                            }
                        });
                    } else{
                        alert("Error : Confirm password not match");
                    }
                });
            });
            function loadSubmit(){
                $('<div id ="divload"><div class="divLoading"><div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div></div>').prependTo(document.body);
            }